<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card shadow p-4" style="width: 350px;">
            <h3 class="text-center mb-3">Iniciar sesión</h3>
            <div id="appVue">
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input v-model="usuario" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>

                    <div class="input-group">
                        <input id="passInput" v-model="password" type="password" 
                               class="form-control" maxlength="7">

                        <button type="button" class="btn btn-outline-secondary"
                                onclick="verContraseña()">
                            ◉
                        </button>
                    </div>
                </div>

                <button class="btn btn-primary w-100" @click="login">
                    Entrar
                </button>
                <a href="pantalla-inicio.html" class="flecha-verde">←</a>
                <a href="registrar_usuario.html" class="btn btn-link w-100 mt-2">Registrar usuario</a>
                <a href="recuperar_contraseña.html" class="btn btn-link w-100">Olvidé mi contraseña</a>
            </div>
        </div>
    </div>
    <script src="vue3.js"></script>
    <script src="login.js"></script>
</body>
</html>